.header{
  width: 100vw;
  height: 30vh;
  background-size:cover;
  background-position:center;
  background-repeat:'no-repeat';
 
  
}
.footer{
  width: 100vw;
  padding: 6rem;
  
  text-align: center;
  color:white;
  font-size: 3rem;
  transform: translateY(40px);
  background-size:cover;
  background-position:center;
  background-repeat:'no-repeat';
  color:tomato;
  
}
